docs/
build/
public/
**/coverage/
**/node_modules/
node_modules/
node_modules
**/*.min.js
*.config.js
.*lintrc.js
**/mock/**
**/*.d.ts
scripts/
src/components/**/_*
cypress/
operations/
jestGlobalSetup.js*
src/reportWebVitals.ts